body {
  @apply font-light pb-16;
  @apply md:pt-16 md:pb-0;
  font-family: 'San Francisco', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  &.theme-inited {
    @apply transition-all-03s;
  }
  &.theme-dark {
    @apply bg-dark text-dark;
  }
  &.theme-light {
    @apply bg-light text-light;
  }
  &.show-contacts {
    @apply pb-32;
    @apply md:pb-0;
  }
}

.hidden {
  display: none !important;
}