/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src:
  url("../fonts/sf/SF-Pro-Display-Ultralight.ttf"),
  url("../fonts/sf/SF-Pro-Display-Ultralight.eot"),
  url("../fonts/sf/SF-Pro-Display-Ultralight.otf"),
  url("../fonts/sf/SF-Pro-Display-Ultralight.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src:
  url("../fonts/sf/SF-Pro-Display-Thin.ttf"),
  url("../fonts/sf/SF-Pro-Display-Thin.eot"),
  url("../fonts/sf/SF-Pro-Display-Thin.otf"),
  url("../fonts/sf/SF-Pro-Display-Thin.woff");
}

/** Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src:
  url("../fonts/sf/SF-Pro-Display-Light.ttf"),
  url("../fonts/sf/SF-Pro-Display-Light.otf"),
  url("../fonts/sf/SF-Pro-Display-Light.eot"),
  url("../fonts/sf/SF-Pro-Display-Light.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src:
  url("../fonts/sf/SF-Pro-Display-Regular.ttf"),
  url("../fonts/sf/SF-Pro-Display-Regular.otf"),
  url("../fonts/sf/SF-Pro-Display-Regular.eot"),
  url("../fonts/sf/SF-Pro-Display-Regular.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src:
  url("../fonts/sf/SF-Pro-Display-Medium.ttf"),
  url("../fonts/sf/SF-Pro-Display-Medium.otf"),
  url("../fonts/sf/SF-Pro-Display-Medium.eot"),
  url("../fonts/sf/SF-Pro-Display-Medium.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src:
  url("../fonts/sf/SF-Pro-Display-Semibold.ttf"),
  url("../fonts/sf/SF-Pro-Display-Semibold.otf"),
  url("../fonts/sf/SF-Pro-Display-Semibold.eot"),
  url("../fonts/sf/SF-Pro-Display-Semibold.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src:
  url("../fonts/sf/SF-Pro-Display-Bold.ttf"),
  url("../fonts/sf/SF-Pro-Display-Bold.otf"),
  url("../fonts/sf/SF-Pro-Display-Bold.eot"),
  url("../fonts/sf/SF-Pro-Display-Bold.woff");
}

/** Heavy */
@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src:
  url("../fonts/sf/SF-Pro-Display-Heavy.ttf"),
  url("../fonts/sf/SF-Pro-Display-Heavy.otf"),
  url("../fonts/sf/SF-Pro-Display-Heavy.eot"),
  url("../fonts/sf/SF-Pro-Display-Heavy.woff");
}

/** Black */
@font-face {
  font-family: "San Francisco";
  font-weight: 900;
  src:
  url("../fonts/sf/SF-Pro-Display-Black.ttf"),
  url("../fonts/sf/SF-Pro-Display-Black.otf"),
  url("../fonts/sf/SF-Pro-Display-Black.eot"),
  url("../fonts/sf/SF-Pro-Display-Black.woff");
}