body.plan-body {
  @apply bg-white pt-0 pb-0;
}

.plan {
  @apply relative overflow-hidden;
  width: 100vw;
  height: 141.4285vw;
}

.plan-image-bg {
  @apply absolute h-full bg-center bg-cover bg-no-repeat;
  filter: blur(4vw);
  opacity: .25;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
}

.plan-image {
  @apply w-1/2 h-1/2 absolute left-1/2 top-1/2 bg-center bg-cover bg-no-repeat;
  transform: translate(-50%,-50%);
}

.plan-title {
  @apply w-full h-1/16 top-1/16 absolute flex justify-center items-center;
  @apply font-semibold text-black;
  font-size: 5.6vw;
}

.plan-text {
  @apply absolute w-3/4 h-1/10 top-1/8 left-1/8 text-black;
  @apply flex justify-center items-center text-center;
  font-size: 2vw;
}

.plan-info {
  @apply w-full h-3/16 absolute flex justify-center items-center bottom-1/16 left-0;
  .plan-info-item {
    @apply flex flex-col justify-start items-center;
    width: 12vw;
    .plan-info-item-name {
      @apply flex justify-center items-center w-full text-black;
      @apply font-semibold;
      height: 8vw;
      font-size: 3vw;
    }
    .plan-info-item-val {
      @apply flex justify-center items-center w-full text-black;
      @apply font-light;
      height: 7vw;
      font-size: 3vw;
    }
  }
}

.plan-desc {
  @apply absolute bottom-0 left-0 w-full h-1/16 flex justify-center items-center;
  font-size: 2vw;
  .plan-desc-items {
    @apply text-center w-full;
  }
  .plan-desc-item {
    @apply text-black;
    margin: 0 2vw;
  }
}

button:disabled {
  opacity: .25;
}

.plans-list {
  @apply flex justify-center items-center;
}

.plans-list-item {
  @apply p-4 m-2 text-white bg-white-015 cursor-pointer;
}