.theme-switcher {
  @apply relative opacity-0 transition-all-03s rounded-full cursor-pointer bg-center bg-cover;
  width: 36px;
  height: 20px;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%);
  .checker {
    @apply absolute rounded-full transition-all-03s bg-center bg-cover bg-no-repeat;
    top: 2px;
    width: 16px;
    height: 16px;
  }
}

.theme-dark.theme-inited,
.theme-color.theme-inited,
.theme-light.theme-inited {
  .theme-switcher {
    @apply opacity-100;
  }
}

.theme-dark {
  .theme-switcher {
    background-color: rgba(255,255,255,.3);
    background-image: url('../img/switcher-dark.png');
    .checker {
      //background-color: rgba(255,255,255,.6);
      background-image: url('../img/switcher-moon.png');
      left: 2px;
    }
  }
}

.theme-light {
  .theme-switcher {
    background-color: rgba(0,0,0,.3);
    background-image: url('../img/switcher-light.png');
    .checker {
      //background-color: rgba(0,0,0,.6);
      background-image: url('../img/switcher-sun.png');
      left: 18px;
    }
  }
}