.transition-all-1s {
  transition: all 1s;
}

.transition-all-03s {
  transition: all .3s;
}

.font-regular {
  font-weight: 300;
}

.opacity-15 {
  opacity: .15;
}

body {
  @apply font-thin transition-all-1s pb-20;
  font-size: 1rem;
  &.theme-dark {
    @apply bg-dark text-dark;
  }
  &.theme-color {
    @apply bg-color text-light;
  }
  &.theme-light {
    @apply bg-light text-light;
  }
}

.flag {
  &.ge {
    background-image: url('../../img/flags/flag-ge.svg');
  }
}

.theme-dark {
  .title-name, h2 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  }
}

.theme-color {
  .title-name, h2 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }
}

.theme-light {
  .title-name, h2 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }
}

h2 {
  @apply text-26 text-center pt-6;
}

h3 {
  @apply text-16 text-left font-regular;
}

.content {
  @apply mx-auto max-w-screen-lg xl:max-w-screen-xl;
}

.separator {
  @apply flex justify-center gap-5 py-4;
  .dot {
    @apply w-0.5 h-0.5 rounded-full;
  }
}

.theme-dark {
  .separator .dot {
    @apply opacity-10;
    background-color: #fff;
  }
}

.theme-color {
  .separator .dot {
    @apply opacity-20;
    background-color: #9c64d5;
  }
}

.theme-light {
  .separator .dot {
    @apply opacity-15;
    background-color: #000;
  }
}